* {
    margin: 0;
    padding: 0;
}

/* Poppins-Regular */

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
}

/* Poppins-Bold */

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf");
}

.putar{
	width: 100px;
	height: 100px;
 
	border:4px solid #f3f3f3;
	border-top:5px solid #3498db;
	border-radius: 100%;
 
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
 
	animation: putar 2s infinite linear;
}
 
@keyframes putar{
	from{
		transform:
		rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}
 
#overlay{
	height: 100%;
	width: 100%;
	background: #010101;
	position: fixed;
	left: 0;
    top: 0;
    z-index: 9999;
}

body {
    background-color: #E5E5E5;
    margin: auto;
    max-width: 1440px;
}

.container {
    width: 100%;
    background-color: #FFF;
    font-family: Poppins, arial, 'sans-serif';
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

/* Header */

header {
    background-image: linear-gradient(to bottom right, rgba(58, 131, 240, .4), rgba(255, 255, 255, .4));
    display: grid;
    height: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "nav nav" "info info";
    overflow: hidden;
}

header nav {
    display: flex;
    justify-content: center;
    grid-area: nav;
    align-items: center;
    position: relative;
    height: 110px;
    z-index: 9999;
}

header nav ul {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 16px;
}

header nav ul li a:hover {
    color: #194990;
    transition: 0.3s;
}

header nav ul li:last-child a {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid rgba(25, 73, 144, 0.5);
    color: #194990;
}

header nav ul li:last-child a:hover {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #1A1A1A;
    color: #194990;
}

header .tag-line {
    font-family: Poppins-Bold, arial, 'sans-serif';
    position: absolute;
    width: 421px;
    left: 120px;
    cursor: default;
}

header .tag-line h1 {
    font-size: 48px;
    line-height: 75px;
    font-weight: bold;
    height: 225px;
    color: #1A1A1A;
}

header .tag-line .img-download {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

header .tag-line h1 span {
    color: #194990;
}

header .tag-line p {
    letter-spacing: 0.03em;
    line-height: 35px;
    font-size: 16px;
    font-family: Poppins, arial, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    margin-top: 35px;
    color: rgba(26, 26, 26, 0.8);
}

header .info {
    grid-area: info;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .menu-toggle {
    display: none;
    flex-direction: column;
    height: 28px;
    width: max-content;
    justify-content: space-evenly;
    cursor: pointer;
}

header nav .menu-toggle span {
    display: block;
    width: 28px;
    margin: auto;
    height: 3px;
    background-color: #1A1A1A;
    transition: transform .5s;
}

header nav .menu-toggle span:nth-child(1) {
    transform-origin: 0 0;
}

header nav .menu-toggle span:nth-child(3) {
    transform-origin: 0 100%;
}

header nav .menu-toggle.close span:nth-child(1) {
    transform: rotate(45deg) translate(3px, -3px);
}

header nav .menu-toggle.close span:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}

header nav .menu-toggle.close span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, 3px);
}

header nav ul.nav-open {
    opacity: 1;
    transition: .5s;
    bottom: 0;
}


/* Scrolling Header */
.setNav {
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 2px 0px 2px 1px rgba(0,0,0,.3);
    transition: 0.5s;
    height: 80px;
}
/* End */

/* Akhir Header */

/* About */

.about .about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.about .about-container .about-head {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    background: rgba(58, 131, 240, 0.05);
    align-items: center;
    height: 234px;
    justify-content: space-evenly;
}

.about .about-container .about-head .content {
    text-align: center;
    position: relative;
}

.about .about-container .about-head .content:nth-child(2) {
    width: 357px;
}

.about .about-container .about-head .content:nth-child(2) p {
    margin: auto;
}

.about .about-container .about-head .content:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    width: 357px;
    height: 110px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.about .about-container .about-head .content p {
    width: 287px;
    height: 70px;
}

.about .about-container .about-head .content h3 {
    height: 75px;
    color: #1A1A1A;
    font-size: 36px;
}

.about .about-container .about-head .content h3 span {
    color: rgb(25, 73, 144);
}

.about .about-container .about-web {
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.about .about-container .about-web .kelas-io {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.about .about-container .about-web .kelas-io h1 {
    width: 221px;
    padding-bottom: 20px;
    color: #1A1A1A;
    font-size: 48px;
    align-items: center;
    font-family: Poppins-Bold, arial, 'sans-serif';
    margin: auto;
}

.about .about-container .about-web .kelas-io hr {
    display: none;
}

.about .about-container .about-web .kelas-io p {
    margin-top: 25px;
    width: 467px;
    font-size: 16px;
    margin: auto;
}

.about .about-container .about-web .img img {
    display: none;
}

.about .about-container .about-web .kelas-io h1 span {
    color: #3A83F0;
}

.about .about-container .about-web .kelas-io .link {
    display: flex;
    width: 445px;
}

.about .about-container .about-web .kelas-io .link img {
    width: 24px;
    margin: auto;
    background: rgba(58, 131, 240, 0.15);
    border-radius: 50%;
    padding: 5px;
}

/* Akhir About */

/* Footer */

footer {
    background-image: linear-gradient(to top, rgba(58, 131, 240, .4), rgba(255, 255, 255, .4));
    display: grid;
    height: 315px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-around;
    grid-area: 1 / 1 / 2 / 4;
    align-items: center;
    height: 110px;
}

footer nav ul {
    display: flex;
    width: 575px;
    justify-content: space-evenly;
    align-items: center;
}

footer nav ul li {
    list-style: none;
}

footer nav ul li a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 16px;
}

/* Akhir Footer */

/* Breakpoint Responsive */

/* Laptop */

@media screen and (min-width:1336px) {
    .about .about-container .about-web {
        height: max-content;
    }
    .about .about-container .about-web .img img {
        display: block;
        width: 567px;
    }
    .about .about-container .about-web .kelas-io {
        display: grid;
        width: 467px;
    }
    .about .about-container .about-web .kelas-io hr {
        margin-top: 40px;
        width: 445px;
        display: block;
    }
    .about .about-container .about-web .kelas-io h1 {
        margin: unset;
    }
    .about .about-container .about-web .kelas-io .link {
        margin-top: 20px;
    }
    .about .about-container .about-web .kelas-io .link p {
        transform: translateX(20px);
        margin: auto;
    }
}

/* Tablet 10inch */

@media screen and (max-width: 968px) {
    /* Header */
    header .tag-line p {
        color: #1A1A1A;
        font-size: 16px;
        font-weight: bold;
        filter: drop-shadow(0px 1px #FFF);
    }
    header nav {
        justify-content: space-around;
        width: 100%;
        z-index: 9999;
    }
    header nav ul {
        display: flex;
        z-index: 9999;
        flex-direction: column;
        justify-content: space-around;
        height: 77vh;
        overflow-y: scroll !important;
        position: absolute;
        background-color: #FFF;
        top: 50px;
        width: 100%;
        transform: scale(1.3);
        opacity: 0;
    }
    header nav ul li a{
        font-size: 12px;
    }
    header .tag-line {
        top: 50px;
        bottom: 0;
        left: 0px;
        right: 0;
        margin-left: 80px;
        z-index: 1;
    }
    header .info .img-header img {
        transform: scale(0.9) translateX(250px) translateY(50px);
    }
    header nav .menu-toggle {
        display: flex;
        z-index: 9999;
    }
    /* Akhir Header */
    /* About */
    .about .about-container .about-head {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .about .about-container .about-head .content {
        margin: 30px 30px;
    }
    .about .about-container .about-head .content:nth-child(2)::after {
        display: none;
    }
    .about .about-container .about-web .kelas-io {
        justify-content: center;
        width: 550px;
    }
    .about .about-container .about-web .kelas-io p {
        width: inherit;
    }
    .about .about-container .about-web .kelas-io .link img {
        display: none;
    }
    .about .about-container .about-web .kelas-io .link {
        width: inherit;
    }
    .about .about-container .about-web .kelas-io .link p {
        margin-top: 20px;
    }
    /* Akhir About */
    /* Footer */
    footer nav {
        flex-direction: column;
    }
    /* Akhir Footer */
}

/* Ponsel */

@media screen and (max-width: 578px) {
    /* Header */
    header {
        height: 600px;
    }
    header .tag-line p {
        display: none;
    }
    header nav .logo {
        transform: scale(0.7) translateX(-35px);
    }
    header .tag-line {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 50px 50px;
        z-index: 1;
        height: max-content;
        width: 200px;
    }
    header .menu-toggle {
        transform: scale(0.9);
    }
    header .tag-line h1 {
        color: #FFF;
        font-size: 30px;
        line-height: 50px;
        filter: drop-shadow(1px 1px rgba(26, 26, 26, .4));
        height: 120px;
    }
    header .info .img-header img {
        transform: scale(1);
    }
    header .info .img-download {
        width: max-content;
        flex-wrap: wrap;
        margin-top: 100px;
        flex-direction: column;
        margin-left: -15px;
    }
    header .tag-line a:last-child img {
        transform: scale(0.91);
    }
    header .info {
        justify-content: center;
    }
    /* Akhir Header */
    /* About */
    .about .about-container .about-web .kelas-io h1 {
        font-size: 30px;
        text-align: center;
    }
    .about .about-container .about-web .kelas-io p {
        font-size: 14px;
    }
    .about .about-container .about-web .kelas-io {
        width: 300px;
        text-align: justify;
    }
    .about .about-container .about-head .content p {
        font-size: 14px;
    }
    .about .about-container .about-head .content h3 {
        font-size: 30px;
        height: 50px;
    }
    /* Akhir About */
    /* Footer */
    footer nav {
        height: 300px;
    }
    footer nav .logo {
        display: none;
    }
    footer nav ul {
        flex-direction: column;
        width: auto;
        height: 250px;
        justify-content: space-around;
    }
    footer nav ul li a {
        font-size: 14px;
    }
    /* Akhir */
}

/* Ponsel 375px */

@media screen and (max-width:375px) {
    header nav .logo {
        transform: scale(0.8);
    }
}
